h1{
    text-transform: uppercase;
}

.query-form input, textarea{
    background-color: lavender;
    margin: 10px;
}

.query-form .query-button{
    background-color: teal;
    height: 30px;
    text-transform: capitalize;
}

.query-form .text{
    width: 175px;
    height: 25px;
}

.query-form .query-button:hover{
    background-color: green;
    cursor: pointer;
    transform: scale(1.3);
    color: white;
}