*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: cadetblue;
}


/* .login-form input{
    margin: 10px;
    color:red;
}

.registration-form input{
    margin: 10px;
    color:red;
} */
.search-box{
    /* position: absolute; */
    /* top: 10%;
    left: 10%;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 30px;
    border-radius:40px;
    padding: 10px; */
    
}

.search-box input{
    /* outline: none; */
    /* height: 80%;
    outline: 0;
    margin: 0;
    padding: 0; */
   
}

.topnav{
    background-color:black;
    height: 66px;
    width: 100%;
    position: sticky;
    top: 0;
}

.topnav .logout{
    float: right;
    margin: 15px;
    padding: 10px;
}

.logout a{
    text-decoration: none;
}
.topnav ul{
    list-style: none;
}

.topnav ul li a {
    float: left;
    color: white;
    text-align: center;
    padding: 19px 30px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a:active{
    background-color: #04AA6D;
    color: white;
}

.search-box input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 20px;
}

.search-box button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
  
.search-box button:hover {
    background: #ccc;
}

.search-box{
    width: 100%;
}
/*.topnav a{
     
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
}
*/
.div1{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    margin: 10px;
    margin-left: 0;
    padding: 0;
}

.div1 a{
    text-decoration: none;
    padding: 20px;
    margin-left:350px;
    text-align: justify;
}

.div2{
    display: flex;
    flex-direction: row;
    font-size: 17px;
   
}
.div2 a{
    text-decoration: none;
    padding: 30px;
}





.main-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-page .info{
    width: 40%;
    margin:25px;
    line-height: 1.6;
}

.heading{
    text-align: center;
    color: green;
    font-size: 24px;
}

.get-started{
    margin-top: 40%;
    color: #C1362A;
}

.info h3{
    color: brown;
    background-color: white;
    max-width: 30%;
    /* margin: 20px auto; */
    text-align: center;
    font-size: 24px;
}


/*new*/
.login-page{
    width: 460px;
    padding: 10px;
    margin: auto;
    align-items: center;

}

.form{
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    margin: 0 auto 100px;
    padding: 45px;
    max-width: 360px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0  15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /* background-color: #ACAF50; */
    background-color: teal;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background-color: green;
}

.form .message{
    margin: 15px;
    color: teal;
    font-size: 20px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.form .registration-form{
    display: none;
}


.footer-content{
    background: #3e3e42;
    color: #d3d3d3;
    height: 180px;
    position: relative;

}

.footer-content form{
    float: right;
    margin: 10px auto;
}

.footer-content .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.5rem;
    border: none;
}

.footer-content .footer-bottom a{
    float: left;
    padding-top: 5px;
    font-size: 1.3em;
    color: #f3eded;
    text-align: center;
}

.image-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.image-content .myimage{
    width: 60%;
}

.myimage img{
    width: 80%;
}

.maincontent-div{
    display: flex;
    flex-direction: column;
}

*{
    margin: 4px;
}