.Landing{
    width: 100%;
    /* height: 80vh; */
    margin: 2%;
}

.topnav{
    background-color:black;
    height: 66px;
    width: 100%;
    position: sticky;
    top: 0;
}

.topnav .logout{
    float: right;
    margin: 15px;
    padding: 10px;
}

.logout{
    text-decoration: none;
   color: white; 
}
.topnav ul{
    list-style: none;
}

.topnav ul li a {
    float: left;
    color: white;
    text-align: center;
    padding: 19px 30px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a:active{
    background-color: #04AA6D;
    color: white;
}

.search-box input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 20px;
}

.landing-links{
    color: teal;
}
/* .search-box button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
  
.search-box button:hover {
    background: #ccc;
} */

.search-box{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 5%;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    background: #303036;
    width: 330px;
    transform: translate(-5%, -5%);
}

.search-box p{
    color: white;
    /* font-size: 22px; */
    padding-bottom: 10px;
    text-align: center;
}

.search-btn{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    font-size: 22px;
    color: white;
}

.div1{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    margin: 10px;
    margin-left: 20px;
    padding: 0;
    float: right;
    top: 20px;
}

.div1 a{
    text-decoration: none;
    padding: 20px;
    margin-left:350px;
    text-align: justify;
}

.div2{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    background-color: rgba(0, 128, 128, 0.233);
    border-radius: 10px;
   
}
.div2 a{
    text-decoration: none;
    padding: 30px;
    color: brown;
    font-weight: bold;
}

.div2 a:hover{
    background-color: black;
}
.offices{
    display: none;
}
.offices-toggle{
    margin: 10px;
}





.main-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-page .info{
    width: 40%;
    margin:25px;
    line-height: 1.6;
}

.heading{
    text-align: center;
    color: green;
    font-size: 24px;
}

.get-started{
    /* margin-top: 40%; */
    color: #C1362A;
    text-align: center;
}

.info h3{
    color: brown;
    background-color: white;
    max-width: 30%;
    text-align: center;
    font-size: 24px;
}


.login-page{
    width: 460px;
    padding: 10px;
    margin: auto;
    align-items: center;

}

.form{
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    margin: 0 auto 100px;
    padding: 45px;
    max-width: 360px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0  15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #ACAF50;
    background-color: teal;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background-color: green;
}

.form .message{
    margin: 15px;
    color: teal;
    font-size: 20px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.form .registration-form{
    display: none;
}


/* .search-text{
    border: 4px solid black;
    background-color: whitesmoke;
    width: 35%;
    height: 40px;   
} */

.maincontent-div{
    margin-left: 20px;
}

.div1 a{
    color: teal;
}

.div1 .myLinks{
    color: brown;
}

.subscribe-mail{
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscribe-mail input{
    height: 35px;
}

.subscribe-mail .text{
    width: 20%;
}

.subscribe-mail .subscribe-button{
    background-color: wheat;
}

.subscribe-mail .subscribe-button:hover{
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.my-form h3{
    color: green;
}

/* .help-desk a{
    text-decoration: none;
    color: brown;
    font-size: 24px;
    font-weight: bold;
} */


thead tr{
    background-color: transparent;
    font-weight: bold;
}

tbody tr:nth-child(odd){
    background-color: aliceblue;
}
td{
    padding: 15px;
}

tbody button{
    margin: 15px;
    background-color: wheat;
    color: black;
}

/* .table{
    display: none;
} */

