.services {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 128, 128, 0.233);
}
.service {
  background-color: rgba(0, 128, 128, 0.452);
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}
.service-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.service.header {
  font-weight: bolder;
}
.service img {
  max-width: 300px;
  max-height: 200px;
  float: left;
  border-radius: 5px;
}
.service p {
  margin: 20px;
}
