.services {
  width: 100%;
  padding: 20px;
  background-color: #0080803b;
}
.service {
  background-color: rgba(0, 128, 128, 0.158);
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
}
.service-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.service.header {
  font-weight: bolder;
  color: green;
  font-size: 22px;
}
.service img {
  max-width: 300px;
  max-height: 200px;
  float: left;
  border-radius: 5px;
}
.service p {
  margin: 20px;
}

.service-button{
  background-color: wheat;
  width: 20%;
  font-size: 22px;
  height: 45px;
  margin-top: 20px;
}