.slide-container{
    width: 80%;
    height: 500px;
    margin-top: 40px;
    margin-left: 4%;
    text-align: center;
}

.each-slide{
    width: 100%;
    height: auto;
    text-align: center;
}
.background{
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    text-align: center;
    background-position: center center;
    position: relative;
}
.background span{
    position: absolute;
    bottom: 0;
}
.each-slide span{
    color: brown;
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
}